.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.container > a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    color: inherit;
    text-decoration: inherit;
}
