.container {
    white-space: nowrap;
}

.identityText {
  font-weight: bold;
  text-transform: uppercase;
}

.contact {
  display: flex;
  width: 100%;
  font-size: smaller;
  justify-content: space-around;
  list-style: none;
}
