.container {
}

header {
    display: grid;
    width: 100%;
    grid-template-areas: "jtf etr"
                         "enm elc";

    page-break-inside: avoid;
}

.roleFinal {
    grid-area: jtf;
    font-weight: bold;
}

.projectName {
    grid-area: enm;
    font-style: italic;
}

.projectTimeRange {
    grid-area: etr;
    display: flex;
    flex-direction: row-reverse;
}

.projectLocation {
    grid-area: elc;
    display: flex;
    flex-direction: row-reverse;
}

.container > main:nth-child(odd) {
    page-break-inside: avoid;
}
